.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}


/* #nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

#nav li {
  float: left;
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #069;
  border-right: 1 px solid #ccc;
} */

.card-in-creatordisplay {
  padding: 10px;
}

.card-in-mycreatordisplay {
  padding: 10px;
}

.ui.bio {
  color: black;
}

.eq-card.ui.card {
  flex: 1;
  flex-basis: 0;
}

.ui.add-button {
  color: black;
}

.creatorName {
  color: black;
}

#trending-header {
  color: black;
}

#textbox {
  color: black;
}

#moviedescriptor {
  color: black;
}

#notedisplay {
  white-space: pre-wrap;
}

#mynotes {
  color: black;
}

#logoimg {
  padding-top: 3px;
  height: 58px;
}

#logintext {
  color: white;
}

#summarytext {
  color: black;
}

input[type="text"] {
  width: 1000px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
